body {background-color: #fff;}
h1 {color: black;font-size: 1em;}
.topper {position: absolute;}
.head, .content {position: relative; margin: 50px auto; text-align: center;}
img {border: 3px solid #ccc;}